<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить квартиру</title>

    <script type='text/javascript'>
        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Доля " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "number";
                input.name = "ownerShare["+i+"].shareNominator";
                input.id = "ownerShare["+i+"].shareNominator";
                container.appendChild(input);
                var input1 = document.createElement("input");
                input1.type = "number";
                input1.value = number;
                input1.name = "ownerShare["+i+"].shareDenominator";
                input1.id = "ownerShare["+i+"].shareDenominator";
                var input2 = document.createElement("input");
                input2.type = "text";
                input2.name = "ownerShare["+i+"].owner.firstName";
                input2.id = "ownerShare["+i+"].owner.firstName";
                var input3 = document.createElement("input");
                input3.type = "text";
                input3.name = "ownerShare["+i+"].owner.secondName";
                input3.id = "ownerShare["+i+"].owner.secondName";
                var input4 = document.createElement("input");
                input4.type = "text";
                input4.name = "ownerShare["+i+"].owner.lastName";
                input4.id = "ownerShare["+i+"].owner.lastName";

                txt = document.createTextNode(":");
                container.appendChild(txt);
                container.appendChild(input);
                txt1 = document.createTextNode("/");
                container.appendChild(txt1);
                container.appendChild(input1);
                txt2 = document.createTextNode("Имя:");
                container.appendChild(document.createElement("br"));
                container.appendChild(txt2);
                container.appendChild(input2);
                txt3 = document.createTextNode("Отчество:");
                container.appendChild(document.createElement("br"));
                container.appendChild(txt3);
                container.appendChild(input3);
                txt4 = document.createTextNode("Фамилия:");
                container.appendChild(document.createElement("br"));
                container.appendChild(txt4);
                container.appendChild(input4);
                // Append a line break
                container.appendChild(document.createElement("br"));
            }
        }
    </script>
</head>
<body>
<h1>Form</h1>
<form action="submit" th:action="@{/addShare}" th:object="${share}" method="post">
    <p>Номер квартиры <input type="text" th:field="*{name}" /></p>
    <p>Площадь (формат записи 00.0) <input type="text" th:field="*{area}" /></p>
    <p>Этаж <input type="text" th:field="*{floor}" /></p>
    <p>Количество долей <input type="text" id="member" name="member" /></p>
    <select th:field="*{type}">
        <option th:each="state : ${T(com.github.eljah.saylaw.model.Share.ShareType).values()}"
                th:value="${state}"
                th:text="${state}">
        </option>
    </select>
    <!--<div th:each="step, status : *{ownerShare}">
        <input  type="text" th:field="*{ownerShare[__${status.index}__].shareNominator}" th:value="*{ownerShare[__${status.index}__].shareNominator}"/>
        <input  type="text" th:field="*{ownerShare[__${status.index}__].shareDenominator}" th:value="*{ownerShare[__${status.index}__].shareDenominator}"/>
        <input  type="text" th:field="*{ownerShare[__${status.index}__].owner.lastName}" th:value="*{ownerShare[__${status.index}__].owner.lastName}"/>
    </div>-->
    <a id="filldetails" onclick="addFields()">Fill Details</a>
    <p></p>
    <div id="container"></div>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>
</body>
</html>