<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список проведенных голосований</title>
</head>
<body>
<div th:if="${votes != null}">
    <h1>Квартиры</h1>
    <ul>
        <li th:each="item : ${votes}">
            <h2>[[${item.name}]] ([[${item.status}]])</h2>

            <a th:href="@{'/makeVoteProtocol?voteId=' + ${item.id}}">Создать протокол</a>
            <a th:href="@{'/finalizeVoteProtocol?voteId=' + ${item.id}}">Утвердить окончательный вид протокола</a>
            <a th:href="@{'/allNoticesServed?voteId=' + ${item.id}}">Бюллютени голосования вручены всем</a>
            <a th:href="@{'/insertVoteResults?voteId=' + ${item.id}}">Заполнение вариантов ответов</a>
            <a th:href="@{'/сompleteVoteResults?voteId=' + ${item.id}}">Вычислить окончательный результат голосования</a>
            <br>
            <div th:if="${item != null && item.voteQuestions != null}">
                <h3>Поставленные вопросы</h3>
                <ul>
                    <li th:each="question : ${item.voteQuestions}">[[${question.text}]]</li>
                </ul>
            </div>
        </li>

    </ul>
</div>
</body>
</html>