<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Список собственников помещения</title>
</head>
<body layout:fragment="page_content" id="page_content">
<div th:if="${all != null}">
    <h1>Квартиры</h1>
    <ul>
        <li th:each="item : ${all}">
            <h2>[[${item.name}]] ([[${item.area}]]) (<a th:href="@{'/editShare?shareId=' + ${item.id}}">Редактировать</a>,  <th:block th:switch="${item.active}"><a th:case="true" th:href="@{'/deleteShare?shareId=' + ${item.id}}">Деактивировать</a> <a th:case="false" th:href="@{'/restoreShare?shareId=' + ${item.id}}">Активировать</a></th:block>)</h2>
            <div th:if="${item != null && item.ownerShare != null}">
                <h3>Доли владения</h3>
                <ul>
                    <li th:each="ownershare : ${item.ownerShare}">[[${ownershare.owner.firstName}]] [[${ownershare.owner.secondName}]] [[${ownershare.owner.lastName}]] [[${ownershare.shareNominatorCommon}]]/[[${ownershare.shareDenominatorCommon}]] ([[${ownershare.shareNominator}]]/[[${ownershare.shareDenominator}]])</li>
                </ul>
            </div>
        </li>

    </ul>
</div>
</body>
</html>